#botao {
    background-color: rgb(39, 100, 39);
    border: 1px solid rgb(39, 100, 39);
}

#borda {
    border: 0px;
    margin-top: 15vh;
}

#botao:hover{
    background-color:rgb(23, 65, 23);
}

#botao:active{
    background-color: rgb(18, 51, 18);
}